<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <meta name="referrer" content="never" />
    <link rel="stylesheet" href="xxx.css" />
  </head>
  <body>
    <div class="card">
      <img
        src="https://i0.hdslb.com/bfs/manga-static/bd53169c57d6c88c96e687fce71d27b129a5de3d.jpg@200w.jpg"
        alt=""
      />
      <h3 class="title">天官赐福</h3>
      <p>更新至 089 话</p>
    </div>
  </body>
</html>
